* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter Tight';
    list-style-type: none;
}
html, body {
    overflow-x: hidden;
}

/* MOBILE */

@media(min-width: 320px){

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        width: 100%;
        
    }

    .logo-header{
        width: 80px;
        height: 30px;
        margin-left: 10px;
    }

    /* BLOG */

    .section-blog{
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #243010;
    }

    .title-blog{
        font-size: 54px;
    }

    .paraph-blog{
        display: flex;
        font-size: 20px;
        line-height: 28px;
        justify-content: center;
        align-items: center;
        color: #445218;
    }

    /* SECTION RECETTE */

    .section-recettes{
        /* height: 1631.4px; */
        width: 100%;
        background-color: #C0CC9B;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        display: flex;
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0; /* Ajoute un léger espacement si nécessaire */
    height: auto; /* La hauteur s'adapte au contenu */
    }

    .container-recettes{
        /* width: 350px; */
        height: 1535.4px;
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        /* align-items: flex-start; */
        /* width: 100%; */
        max-width: 720px;
        gap: 30px;
    }

    .container-title-recette{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 10px;
    }

    .paraph-recette{
        color: #87A330;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 20px;
    }

    .title-recette{
        color: #243010;
        line-height: 48px;
        font-weight: 700;
        font-size: 37.4px;
        margin-left: 20px;
    }

    /* CARD RECETTE */

    .card-recette{
        background-color: #F4F5F0;
        height: 441.8px;
        width: 300px;
        border-radius: 16px;
        margin: 0;
    }

    .img-recette{
        width: 100%;
    }

    .info-recette{
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .container-energy{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    
    .titre-energie{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h5{
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        color: #87A330;
    }

    h3{
        color: #243010;
        font-weight: 700;
        line-height: 28px;
    }

    h6{
        color: #445218;
        font-size: 14px;
        line-height: 21;
        font-weight: 600;
    }

    .p-card{
        color: #445218;
        font-weight: 400;
        line-height: 19px;
    }

    .pins{
        height: 50px;
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .pins-button{
        background-color:#C0CC9B;
        height: 25px;
        width: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
    }

    /* NAV FOOTER */

    .nav-footer{
        background-color: #111406;
        height: 396.39px;
        color: #C0CC9B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .nav-footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

@media(min-width: 375px){

    .card-recette{
        width: 100%;
    }

    .paraph-recette{
        margin-left: 0;
    }

    .title-recette{
        margin-left: 0;
    }
}

@media(min-width: 425px){
    
    .container-recettes{
        width: 400px;
        /* height: 1800px; */
    }
}

@media(min-width: 480px){
    .container-recettes{
        width: 450px;
    }

    .info-recette{
        gap: 20px;
    }

}

@media(min-width: 520px){
    .container-recettes{
        width: 480px;
    }

    .info-recette{
        gap: 20px;
    }

}

/* TABLET */

@media(min-width: 768px){

    .text-blog{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .container-title-recette{
        /* background-color: red; */
    }

    .container-recettes{
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .card-recette{
        width: 350px;
        height: 450px;
    }

} 